* {
    margin: 0;
    padding: 0;
}

/* 容器 */
.metro-main{
    padding: 10px;
    display: inline-flex;
    background-color: #212121;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1300px;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: static;
    margin: 0 calc(50% - 650px);
    height: 100%;
}

.tile-group{
    display: inline-block;
    padding: 0 10px;
    border:1px solid #282828;
}
.tile-wrapper {
    display: inline-grid;
    display: -ms-inline-grid;
    grid-auto-rows: 50px;
}

/* group 标题 */
.tile-group-title{
    color: #ffffff;
    padding:15px 0;
}

/* 单个磁贴样式 */

.tile-wrapper .tile-item {
    transition: margin,opacity 0.2s;
    position: relative;
    background-color: #0078d7;
    border: 2px solid transparent;
    margin: 2px;
    color: #ffffff;
}

.tile-item .name{

}

.tile-item:hover {
    border-color: #7fbbeb;
}

.tile-item.is-dragging {
    z-index: 1000;
    border-color: transparent;
    cursor: move;
}

.tile-item>a{
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

/* 拖拽时淡化其他磁贴 */

.tile-wrapper.is-dragging .tile-item:not(.is-dragging) {
    margin: 6px;
    opacity: 0.5;
    zoom:0.95;
}

/* 拖拽手柄 */

.handle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: move;
    display: none;
    text-align: center;
}

/* 鼠标悬浮时显示磁贴 */

.tile-item:hover .handle {
    display: inline-block;
}

/* 磁贴图标 */

.tile-item i.icon {
    left: calc(50% - 11px);
    top: 28%;
    position: absolute;
    color:#fff;
}

.tile-wrapper .tile-item.tile-medium i.icon {
    font-size: 30px;
    left: calc(50% - 15px);
}

.tile-wrapper .tile-item.tile-large i.icon {
    font-size: 60px;
    left: calc(50% - 30px);
}

.tile-wrapper .tile-item.tile-wide i.icon {
    font-size: 36px;
    left: calc(50% - 18px);
}

.tile-wrapper .tile-item.tile-small i.icon {
    font-size: 18px;
    left: calc(50% - 9px);
}

/* 磁贴底部文字 */

.tile-item .name {
    bottom: 3px;
    left: 3px;
    font-size: 12px;
    text-align: center;
    max-height: 32px;
    overflow: hidden;
    position: absolute;
    color:white;
}

/* 小磁贴不显示文字 */

.tile-wrapper .tile-item.tile-small .name {
    display: none;
}