* {
    margin: 0;
    padding: 0;
}

/* 容器 */

.tile-wrapper {
    background-color: #222;
    width: 600px;
    display: inline-grid;
    display: -ms-grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(8, 50px);
    -ms-grid-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-auto-rows: 50px;
    -ms-grid-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
}

/* 单个磁贴样式 */

.tile-wrapper .tile-item {
    transition: margin,opacity 0.2s;
    position: relative;
    background-color: #0078d7;
    border: 2px solid transparent;
    margin: 2px;
    color: #ffffff;
}

.tile-item .name{

}

.tile-item:hover {
    border-color: #7fbbeb;
}

.tile-item.is-dragging {
    z-index: 1000;
    border-color: transparent;
    padding: 4px;
    cursor: move;
}

.tile-item>a{
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

/* 拖拽时淡化其他磁贴 */

.tile-wrapper.is-dragging .tile-item:not(.is-dragging) {
    margin: 6px;
    opacity: 0.5;
    zoom:0.95;
}

/* 拖拽手柄 */

.handle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: move;
    display: none;
    text-align: center;
}

.handle:hover {
    background-color: rgb(31, 67, 226);
}

.tile-item.is-dragging .handle {
    background-color: rgb(31, 67, 226);
}

/* 鼠标悬浮时显示磁贴 */

.tile-item:hover .handle {
    display: inline-block;
}

/* 磁贴图标 */

.tile-item i.icon {
    left: calc(50% - 11px);
    top: 30%;
    position: absolute;
    color:#fff;
}

.tile-wrapper .tile-item.medium i.icon {
    font-size: 30px;
    left: calc(50% - 15px);
}

.tile-wrapper .tile-item.large i.icon {
    font-size: 46px;
    left: calc(50% - 23px);
}

.tile-wrapper .tile-item.wide i.icon {
    font-size: 36px;
    left: calc(50% - 18px);
}

.tile-wrapper .tile-item.small i.icon {
    font-size: 18px;
    left: calc(50% - 9px);
}

/* 磁贴底部文字 */

.tile-item .name {
    bottom: 3px;
    left: 3px;
    font-size: 12px;
    text-align: center;
    max-height: 32px;
    overflow: hidden;
    position: absolute;
    color:white;
}

/* 小磁贴不显示文字 */

.tile-wrapper .tile-item.small .name {
    display: none;
}